@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var isAdmin = Context.Session.GetString("IsAdmin");
    var isUser = Context.Session.GetString("IsUser");
}

<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Book List</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Book</li>
                            </ol>
                        </nav>
                    </div>
                    @if (!string.IsNullOrEmpty(isAdmin))
                    {
                        <div class="col-md-6 col-sm-12 text-right">
                            <div class="dropdown">
                                <a class="btn btn-primary" asp-action="BookAdd" asp-controller="Manage">
                                    Add Book
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <form method="post" asp-action="Book" asp-controller="Manage">
                <div class="row mb-15">
                    <div class="col-md-4">
                        <div class="header-search">
                            
                                <div class="form-group mb-0" style="display:flex">
                                    <i style="justify-content: flex-start;"
                                       class="dw dw-search2 search-icon mr-10 mt-15"></i>
                                    <input name="keyword" style="justify-content: flex-end;" type="text"
                                           class="form-control search-input" placeholder="Title">
                                </div>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="header-search">
                                <div class="form-group mb-0" style="display:flex">
                                    <input name="fromPrice" style="justify-content: flex-end;" type="number"
                                           class="form-control search-input" placeholder="From Price">
                                </div>
                                <div class="form-group mb-0" style="display:flex">
                                    <input name="toPrice" style="justify-content: flex-end;" type="number"
                                           class="form-control search-input" placeholder="To Price">
                                </div>
                        </div>
                    </div>
                    <button type="submit" style="height: 44px;margin-left: 20px;width: 114px;" class="btn btn-success">Filter</button>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table table-striped table-bordered ">
                    <thead style="background-color: lightgray">
                        <tr>
                            <th>Title</th>
                            <th>Type</th>
                            <th>Publisher</th>
                            <th>Price</th>
                            <th>Advance</th>
                            <th>Royalty</th>
                            <th>Year Sales</th>
                            <th>Notes</th>
                            <th>Published Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.model)
                        {
                            <tr>
                                <td>@item.title</td>
                                <td>@(item.type == 1 ? "Novel" : "Story")</td>
                                <td>@item.Publisher.publisher_name</td>
                                <td>@item.price</td>
                                <td>@item.advance</td>
                                <td>@item.royalty</td>
                                <td>@item.ytd_sales</td>
                                <td>@item.notes</td>
                                <td>@(item.published_date != null ? item.published_date.ToString("dd/MM/yyyy") : "")</td>
                                
                                <td>
                                    <div class="dropdown">
                                        <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                            <i class="dw dw-more"></i>
                                        </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                            @if (!string.IsNullOrEmpty(isAdmin))
                                            {
                                            <a href="@Url.Action("BooksUpdate", "Manage", new { isEdit = true, bid = item.book_id})" class="dropdown-item" ><i class="dw dw-edit2"></i> Edit</a>
                                            <a asp-action="DeleteBook" asp-controller="Manage" asp-route-bid="@item.book_id" class="dropdown-item" onclick="return confirm('Are you sure you want to delete this item?');"><i class="dw dw-delete-3" ></i> Delete</a>    
                                            }
                                                <a href="@Url.Action("BooksUpdate", "Manage", new { isEdit = false, bid = item.book_id})" class="dropdown-item" ><i class="dw dw-edit1"></i> Detail</a>
                                            </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
