@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Book List</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Book</li>
                            </ol>
                        </nav>
                    </div>
                    @if (User.IsInRole("admin"))
                    {
                        <div class="col-md-6 col-sm-12 text-right">
                            <div class="dropdown">
                                <a class="btn btn-primary" asp-action="BookAdd" asp-controller="Manage">
                                    Add Book
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <form method="post" id="form-filter">
                <div class="row mb-15">
                    <div class="col-md-4">
                        <div class="header-search">
                            
                                <div class="form-group mb-0" style="display:flex">
                                    <i style="justify-content: flex-start;"
                                       class="dw dw-search2 search-icon mr-10 mt-15"></i>
                                    <input id="keyword" name="keyword" style="justify-content: flex-end;" type="text"
                                           class="form-control search-input" placeholder="Title">
                                </div>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="header-search">
                                <div class="form-group mb-0" style="display:flex">
                                    <input id="fromPrice" name="fromPrice" style="justify-content: flex-end;" type="number"
                                           class="form-control search-input" placeholder="From Price">
                                </div>
                                <div class="form-group mb-0" style="display:flex">
                                    <input id="toPrice" name="toPrice" style="justify-content: flex-end;" type="number"
                                           class="form-control search-input" placeholder="To Price">
                                </div>
                        </div>
                    </div>
                    <button type="submit" style="height: 44px;margin-left: 20px;width: 114px;" class="btn btn-success">Filter</button>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table table-striped table-bordered ">
                    <thead style="background-color: lightgray">
                        <tr>
                            <th>Title</th>
                            <th>Type</th>
                            <th>Publisher</th>
                            <th>Price</th>
                            <th>Advance</th>
                            <th>Royalty</th>
                            <th>Year Sales</th>
                            <th>Notes</th>
                            <th>Published Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@foreach (var item in ViewBag.model)
                        {
                            <tr>
                                <td>@item.title</td>
                                <td>@(item.type == 1 ? "Novel" : "Story")</td>
                                <td>@item.Publisher.publisher_name</td>
                                <td>@item.price</td>
                                <td>@item.advance</td>
                                <td>@item.royalty</td>
                                <td>@item.ytd_sales</td>
                                <td>@item.notes</td>
                                <td>@(item.published_date != null ? item.published_date.ToString("dd/MM/yyyy") : "")</td>
                                
                                <td>
                                    <div class="dropdown">
                                        <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                            <i class="dw dw-more"></i>
                                        </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                            @if (!string.IsNullOrEmpty(isAdmin))
                                            {
                                            <a href="@Url.Action("BooksUpdate", "Manage", new { isEdit = true, bid = item.book_id})" class="dropdown-item" ><i class="dw dw-edit2"></i> Edit</a>
                                            <a asp-action="DeleteBook" asp-controller="Manage" asp-route-bid="@item.book_id" class="dropdown-item" onclick="return confirm('Are you sure you want to delete this item?');"><i class="dw dw-delete-3" ></i> Delete</a>    
                                            }
                                                <a href="@Url.Action("BooksUpdate", "Manage", new { isEdit = false, bid = item.book_id})" class="dropdown-item" ><i class="dw dw-edit1"></i> Detail</a>
                                            </div>
                                    </div>
                                </td>
                            </tr>
                        }*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
        ShowAll();
        function ShowAll() {
            $("table tbody").html("");
            $.ajax({
                url: "https://localhost:44322/odata"+"/Book?$expand=Publisher&$orderby=book_id desc",
                mimeType: "text/html; charset=utf-8",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $.each(data.value, function (key, res) {
                        content = `
                             <tr>
                                <td>${res.title}</td>
                                <td>${(res.type == 1 ? "Novel" : "Story")}</td>
                                <td>${res.Publisher.publisher_name}</td>
                                <td>${res.price}</td>
                                <td>${res.advance}</td>
                                <td>${res.royalty}</td>
                                <td>${res.ytd_sales}</td>
                                <td>${res.notes}</td>
                                <td>${res.published_date}</td>
                                

                                <td>
                                    <div class="dropdown">
                                        <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                            <i class="dw dw-more"></i>
                                        </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                             @if (User.IsInRole("admin"))
                                                {
                                                <a href="/Manage/BooksUpdate?bid=${res.book_id}&isEdit=true" class="dropdown-item" ><i class="dw dw-edit2"></i> Edit</a>    
                                                <a class="dropdown-item" onclick="onDelete(${res.book_id})"><i class="dw dw-delete-3" ></i> Delete</a>
                                                }else{
                                                 <a href="/Manage/BooksUpdate?aid=${res.book_id}&isEdit=false" class="dropdown-item" ><i class="dw dw-edit1"></i> Detail</a>
                                                }
                                            </div>

                                    </div>
                                </td>
                            </tr> 
                        `
                        $("tbody").append(content);
                    });
                },
                error: function (err) {
                    alert("Error: " + err.status);
                }
            });
        }
        $("form").on("submit", function (e) {
            e.preventDefault();
            $("table tbody").html("");
            let keyword = $("form input[name='keyword']").val();
            let from = parseFloat($("form input[name='fromPrice']").val());
            let to = parseFloat($("form input[name='toPrice']").val());

            var apiUrl = "https://localhost:44322/odata"+"/Book?$expand=Publisher&$orderby=book_id desc";
            if(keyword != null || keyword != "" || keyword != "undefinded") apiUrl += `&$filter=contains(title,'${keyword}') `;
            if(!isNaN(from)) apiUrl += `and price ge ${from}`;
            if(!isNaN(to)) apiUrl += `and price le ${to} `;
            $.ajax({
                url: apiUrl,
                mimeType: "text/html; charset=utf-8",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $.each(data.value, function (key, res) {
                        content = `
                             <tr>
                                <td>${res.title}</td>
                                <td>${(res.type == 1 ? "Novel" : "Story")}</td>
                                <td>${res.Publisher.publisher_name}</td>
                                <td>${res.price}</td>
                                <td>${res.advance}</td>
                                <td>${res.royalty}</td>
                                <td>${res.ytd_sales}</td>
                                <td>${res.notes}</td>
                                <td>${res.published_date.substring(0, 10)}</td>
                                

                                <td>
                                    <div class="dropdown">
                                        <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                            <i class="dw dw-more"></i>
                                        </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                @if (User.IsInRole("admin"))
                                                {
                                                <a href="/Manage/BooksUpdate?bid=${res.book_id}&isEdit=true" class="dropdown-item" ><i class="dw dw-edit2"></i> Edit</a>    
                                                <a class="dropdown-item" onclick="onDelete(${res.book_id})"><i class="dw dw-delete-3" ></i> Delete</a>
                                                }else{
                                                 <a href="/Manage/BooksUpdate?aid=${res.book_id}&isEdit=false" class="dropdown-item" ><i class="dw dw-edit1"></i> Detail</a>
                                                }
                                            </div>

                                    </div>
                                </td>
                            </tr> 
                        `
                        $("tbody").append(content);
                    });
                },
                error: function (err) {
                    alert("Error: " + err.status);
                }
            });
        })

        });
        function onDelete(bookId){
                Swal.fire({
                            title: 'Are you sure?',
                            text: "You won't be able to revert this!",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#d33',
                            cancelButtonColor: '#3085d6',
                            confirmButtonText: 'Yes, delete it!'
                }).then((result) =>{
                        if(result.isConfirmed){
                            $.ajax({
                                    url: "https://localhost:44322/odata"+"/Book/"+bookId,
                                    mimeType: "text/html; charset=utf-8",
                                    type: "DELETE",
                                    dataType: "json",
                                    success: function (data) {
                                        Swal.fire(
                                            'Deleted!',
                                            'Your file has been deleted.',
                                            'success'
                                        )
                                        window.location.reload(true);
                                    },
                                    error: function (err) {
                                        alert("Error: " + err.status);
                                    }
                                });
                        }
                    })
            }
    </script>
}